<div class="container mt-5">
    <div class="card border-warning">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Clientes</h5>
                <button class="btn btn-sm btn-outline-success" [routerLink]="['/clientesfrm/add/0']">new</button>
            </div>
            <form class="d-flex w-25">
                <input class="form-control me-sm-2" type="search" placeholder="Search" #name>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="getLike(name.value)">Search</button>
            </form>
            <div *ngIf="lista.length == 0" class="alert alert-dismissible alert-success mt-3">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>No Records!</strong>
            </div>
            <table *ngIf="lista.length > 0" class="table table-secondary table-sm mt-3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>nombre</th>
                        <th>email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of lista">
                        <th>{{c.id}}</th>
                        <td>{{c.fullname}}</td>
                        <td>{{c.email}}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-info"
                                [routerLink]="['/clientesfrm', 'upd', c.id]">edit</button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-outline-danger ms-3"
                                [routerLink]="['/clientesfrm', 'del', c.id]">del</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>